page-basket {

}

.Product
{
  overflow: hidden;
  width: 100%;
}

.ProductLeft
{
  float: right;
  width:10% !important;
  margin-top:0px;
  font-size:25px;
}

.ProductRight
{
  float: right;
  width: 20%;
}

.ProductCenter
{
  float: right;
  width: 35%;
  text-align: right;
  font-size: 22px;
  font-weight: bold;
  color: #00006f;
  margin-right: 10px;
}

.ProductCenter1
{
  float: right;
  width: 18%;
  text-align: right;
  font-size: 22px;
  font-weight: bold;
  color: #00006f;
  margin-right: 10px;
  direction: rtl;
  margin-top: -10px;
}

.ProductCenter1 span
{
  font-size: 10px;
  font-weight:300;
}

.ProductCenter p
{
  font-size: 14px;
  font-weight:300;
  margin-top: 0px;
  direction: rtl;
}

.Line
{
  width: 100%;
  height: 1px;
  background-color: #00006f;
}

.inviteFooter {
  padding:5px;
  background-color: aqua;
  text-align: center;
  color: #00006f;
  font-size: 25px;
  font-weight: bold;
  overflow: hidden;
  direction: rtl;
}

.inviteFooterRight {
 float: right;
  width: 60%;
}

.inviteFooterRight span
{
  font-size: 13px;
}

.inviteFooterLeft
{
  float: left;
  width: 45px;
}


.CB
{
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  border: none !important;
  border-bottom: none !important;
  border-style: none
}

.CBleft
{
  float: left;
  width: 48%;
  border: none !important;
  border-bottom: none !important;
  border-style: none
}

.CBright
{
  float: left;
  width: 48%;
  border: none !important;
  border-bottom: none !important;
  border-style: none;
}

.CoLabel
{
  text-align: right;
  border: none !important;
  border-style: none;
}