page-sub-categories {

  .ListRow
  {
    overflow:hidden;
    width:100%;
  }

  .bName
  {
    font-size:17px;
    color:#4d4d4d;
    font-weight:bold;
  }


  .ListRight
  {
    width:25%;
    padding:10px;
    float:right;
  }

  .ListRight img
  {

  }

  .ListLeft
  {
    width:22%;
    padding-left:5px;
    float:left;
    margin-top:13px;
  }

  .ListCenter
  {
    width:50%;
    text-align:right;
    direction:rtl;
    padding:5px;
    float:right;
    margin-top: -13px;
  }

  .ListCenter h3
  {
    font-size:16px;
    color:#4d4d4d;
    margin-top: -15px;
  }

  .ListCenter h4
  {
    margin-top:-8px;
    font-size:14px;
    color:#4d4d4d;
  }

  .ListCenter div
  {
    margin-top:-8px;
  }
}
