<ion-toolbar no-border-top class="ToolBarClass1">


  <ion-buttons left>
    <button navPop style="background-color: black">
      <ion-icon style="color: white; font-size: 30px;" name="ios-arrow-back-outline"></ion-icon>
    </button>
  </ion-buttons>

  <div class="ToolBarTitle">
    <ion-title>
      <div>
        <img src="images/logo1.png" style="width: 130px; margin-top: 4px;">
      </div>
    </ion-title>
  </div>

  <ion-buttons right>
    <button (click)="goToImageCar()" style="background-color: black">
      <ion-icon style="color: white; font-size: 40px; margin-right:20px;" name="ios-camera-outline"></ion-icon>
      <p style="color: white; font-size: 10px; margin-top: -7px;">הוסף תמונות</p>
    </button>
  </ion-buttons>
</ion-toolbar>



<ion-content style="margin-top: 20px" >
  <ion-item no-lines class="RegTitle">
    <label>פרטי הרכב</label>
  </ion-item>

  <ion-list class="Inputs">
      <ion-item>
          <ion-label fixed>בחר סוג רכב</ion-label>
          <ion-select [(ngModel)]="Details.manufacturer" (ngModelChange)="CarTypeChange()">
              <ion-option *ngFor="let type of CarsTypesArray" value="{{type.id}}" >{{type.name}}</ion-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label fixed>בחר דגם</ion-label>
        <ion-select [(ngModel)]="Details.model" >
          <ion-option *ngFor="let model of CarsModelsArray" value="{{model.id}}" >{{model.name}}</ion-option>
        </ion-select>
      </ion-item>


    <!-- <ion-item>
      <ion-label fixed>שם הרכב</ion-label>
      <ion-input type="text" [(ngModel)]="Details.model" name="model" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>דגם</ion-label>
      <ion-input type="text" [(ngModel)]="Details.manufacturer" name="manufacturer" ></ion-input>
    </ion-item>-->

    <ion-item>
      <ion-label fixed>שנת הרכב</ion-label>
      <ion-input type="tel" [(ngModel)]="Details.year" name="year" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>מספר קילומטר</ion-label>
      <ion-input type="tel" [(ngModel)]="Details.km" name="km" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>בעלים קודמים</ion-label>
      <ion-input type="tel" [(ngModel)]="Details.hand" name="hand" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>צבע הרכב</ion-label>
      <ion-input type="text" [(ngModel)]="Details.color" name="color" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>נפח מנוע</ion-label>
      <ion-input type="tel" [(ngModel)]="Details.size" name="size" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>מחיר הרכב</ion-label>
      <ion-input type="tel" [(ngModel)]="Details.price" name="price" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>פרטים נוספים</ion-label>
      <ion-textarea type="text" [(ngModel)]="Details.description" name="description" ></ion-textarea>
    </ion-item>



    <div style="width: 100%; margin-top: 20px;" align="center" (click)="EditCar()">
      <div style="width: 90%">
        <button ion-button color="primary" style="width: 100%">שלח פרטים</button>
      </div>
    </div>
      <div style="width: 100%; margin-top:0px;" align="center" (click)="DelCar()">
          <div style="width: 90%">
              <button ion-button color="primary" style="width: 100%; background-color: black; color: white">מחק רכב</button>
          </div>
      </div>

  </ion-list>
</ion-content>

