<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header></header>
</ion-header>



<ion-content padding>
  <ion-item no-lines class="RegTitle">
    <label>התחברות</label>
  </ion-item>

  <ion-list class="Inputs">

    <ion-item>
      <ion-label floating>הכנס מייל</ion-label>
      <ion-input type="mail" [(ngModel)]="Login.mail" name="mail" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>הכנס סיסמה</ion-label>
      <ion-input type="password" [(ngModel)]="Login.password" name="password" ></ion-input>
    </ion-item>


    <div style="width: 100%; margin-top: 20px;" align="center" (click)="loginUser()">
      <div style="width: 90%">
        <button ion-button color="primary" style="width: 100%; color:black">שלח</button>
      </div>
    </div>




  </ion-list>
</ion-content>
<ion-footer class="FooterClass">
  <footer></footer>
</ion-footer>