page-single {



.singleName
{
  width: 100%;
  text-align: center;
  background-color: #b2d233;
  color: black;
  padding:3px;
  font-size: 20px;
  font-weight: 300px;
}


.SocialIcons
{
  width: 100%;
  overflow: hidden;
  padding: 0px;
  margin-top: -5px;
}

.SocialIconsDiv
{
  width: 33.3%;
  float: left;
}

.MainIconsDiv
{
  width: 25%;
  float: left;
}

.Info
{
  width: 100%;
  overflow: hidden;
  padding: 5px;
}

.Logo
{
  width: 25%;
  float: right;
  margin-top: 4px;
}

.Logo div
{

}

.Details
{
  text-align: right;
  font-weight: bold;
  font-size:18px;
  margin-top: -10px;
}

.Details h3
 {
   text-align: right;
   font-size:14px;
   margin-top: -17px;
 }

.Details h4
{
  text-align: right;
  font-size:14px;
  margin-top: -6px;
}


.c3Title
{
  text-align:right;
  padding:5px;
  color:#4d4d4d;
  margin-top:10px;
  margin-right:5%;
  font-weight:600;
  font-family: 'Rubik', sans-serif;
  font-size:19px;
  direction: rtl;
}

.c3Line
{
  width:90%;
  height:1px;
  background-color:#b2d233;
  margin-top:3px;
}

.c3Line1
{
  width:95%;
  height:1px;
  background-color:#b2d233;
  margin-top:3px;
}

.c3Info
{
  width:90%;
  padding:8px;
  margin-top:10px;
  text-align:right;
  font-size:15px;
  direction:rtl
}

.c3bInfo
{
  width:100%;
  overflow:hidden;
  margin-top:20px;
}

.c3RightInfo
{
  float:right;
  width:55%;
  text-align:right;
}

.c3RightInfo h3
{
  font-size:19px;
  color:#4d4d4d;
  margin-top:0px;
  color:black;
}

.c3RightInfo p
{
  font-size:15px;
  color:#4d4d4d;
  margin-top:-7px;
}

.c3RightLogo
{
  width:30%;
  float:right;
  margin-right:0%;
}

.c3Logo img
{
  width:100px;
  height:100px;
  margin-top:0px;
}

.c3LeftIcon
{
  float:right;
  width:14%;
}


.ListRow
{
  overflow:hidden;
  width:100%;
}

.bName
{
  font-size:17px;
  color:#4d4d4d;
  font-weight:bold;
}


.ListRight
{
  width:25%;
  padding:10px;
  float:right;
}

.ListRight img
{

}

.ListLeft
{
  width:22%;
  padding-left:15px;
  float:left;
  margin-top:25px;
}

.ListCenter
{
  width:50%;
  text-align:right;
  direction:rtl;
  padding:5px;
  float:right;
  margin-top: -13px;
}

.ListCenter h3
{
  font-size:16px;
  color:#4d4d4d;
  margin-top: -15px;
}

.ListCenter h4
{
  margin-top:-8px;
  font-size:14px;
  color:#4d4d4d;
}

.ListCenter div
{
  margin-top:-8px;
}

}