<ion-header>
  <header></header>
</ion-header>


<ion-content>
  <div class="singleName">
    {{Car.carModelName}} &nbsp; {{Car.carName}}
  </div>
  <div class="CarImages">
    <div class="CarImageDiv" *ngFor="let image of CarImages let i = index" >
        <img class="delImage" src="images/close.png" (click)="delImage(i)"/>
      <img class="carImage"  *ngIf="i<16" src="{{host}}/{{image.url}}" (click)="showPopup(i)"/>
    </div>
  </div>

  <div style="width: 100%; margin-top: 20px;" align="center" (click)="presentActionSheet()">
    <div style="width: 90%">
      <button ion-button color="primary" style="width: 100%; color: black">הוסף תמונה</button>
    </div>
  </div>

    <div style="width: 100%; margin-top:0px;" align="center" (click)="goToCarAdmin()">
        <div style="width: 90%">
            <button ion-button color="#666666" style="width: 100%; color: white; background-color: #000">סיים</button>
        </div>
    </div>
</ion-content>

