<ion-toolbar no-border-top class="ToolBarClass1">


  <ion-buttons left>
    <button navPop style="background-color: black">
      <ion-icon style="color: white; font-size: 30px;" name="ios-arrow-back-outline"></ion-icon>
    </button>
  </ion-buttons>

  <div class="ToolBarTitle">
    <ion-title>
      <div (click)="LogOut()">
        <img src="images/logo1.png" style="width: 130px; margin-top: 4px;">
      </div>
    </ion-title>
  </div>

  <ion-buttons right>
    <button  style="background-color: black" (click)="goToAddCompany()">
      <ion-icon style="color: white; font-size: 40px; margin-right:20px;" name="ios-add-circle-outline"></ion-icon>
      <p style="color: white; font-size: 10px; margin-top: 3px;">הוסף חברה</p>
    </button>
  </ion-buttons>
</ion-toolbar>


<ion-content padding class="Content">
<div  style="padding-bottom: 200px">
  <div *ngFor="let item of CompaniesArray let i = index" >
    <div class="ListRow" (click)="goToEditCompany(i)">
      <div class="ListRight"  >
        <img *ngIf="item.logo != null"  src="{{host}}/{{item.logo}}" style="width:100%; margin-top:-3px;"  />
        <img *ngIf="item.logo == null"  src="images/logos.png" style="width:100%; margin-top:-3px;"  />
      </div>
      <div class="ListCenter"  >
        <p class="bName">{{item.name}}</p>
        <h3>{{item.phone}}</h3>
        <h4>{{item.address}}</h4>
      </div>

      <div class="ListLeft">
        <div>
          <img  src="images/arrow.png" style="width:20px;" />
        </div>
      </div>
    </div>

    <div>
      <img  src="images/line.png" style="width:100%; margin-top:-3px;" />
    </div>
  </div>
</div>
</ion-content>


<ion-footer >
  <ion-toolbar>
    <ion-buttons  style="!important; text-align: center; padding: 0; margin: 0;"  >
      <button ion-button icon-right color="royal" style=" font-size: 17px; font-weight: bold;  color: white;" (click)="LogOut()">
        התנתק
      </button>
      <button ion-button icon-right color="royal" style=" font-size: 22px; font-weight: bold;  color: white;">
        |
      </button>
      <button ion-button icon-right color="royal" style=" font-size: 17px; font-weight: bold;  color: white;" (click)="GoToCategories()">
        קטגוריות
      </button>
      <button ion-button icon-right color="royal" style=" font-size: 22px; font-weight: bold;  color: white;">
        |
      </button>
      <button ion-button icon-right color="royal" style=" font-size: 17px; font-weight: bold;  color: white;" (click)="goToAddCompany()">
        הוסף חברה
      </button>


    </ion-buttons>
  </ion-toolbar>
</ion-footer>