<ion-header>
  <header></header>
</ion-header>


<ion-content >
  <ion-item no-lines class="RegTitle">
    <label>הוסף רכב חדש</label>
  </ion-item>

  <ion-list class="Inputs">
    <ion-item>
      <ion-label fixed>בחר סוג רכב</ion-label>
      <ion-select [(ngModel)]="Details.manufacturer" (ngModelChange)="CarTypeChange()">
        <ion-option *ngFor="let type of CarsTypesArray" value="{{type.id}}" >{{type.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label fixed>בחר דגם</ion-label>
      <ion-select [(ngModel)]="Details.model" >
        <ion-option *ngFor="let model of CarsModelsArray" value="{{model.id}}" >{{model.name}}</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label fixed>שנת הרכב</ion-label>
      <ion-input type="tel" [(ngModel)]="Details.year" name="year" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>מספר קילומטר</ion-label>
      <ion-input type="tel" [(ngModel)]="Details.km" name="km" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>בעלים קודמים</ion-label>
      <ion-input type="tel" [(ngModel)]="Details.hand" name="hand" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>צבע הרכב</ion-label>
      <ion-input type="text" [(ngModel)]="Details.color" name="color" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>נפח מנוע</ion-label>
      <ion-input type="tel" [(ngModel)]="Details.size" name="size" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>מחיר הרכב</ion-label>
      <ion-input type="tel" [(ngModel)]="Details.price" name="price" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>פרטים נוספים</ion-label>
      <ion-textarea type="text" [(ngModel)]="Details.description" name="description" ></ion-textarea>
    </ion-item>



    <div style="width: 100%; margin-top: 20px;" align="center" (click)="AddCar()">
      <div style="width: 90%">
        <button ion-button color="primary" style="width: 100%">שלח פרטים</button>
      </div>
    </div>
  </ion-list>
</ion-content>
