<ion-header>
    <ion-navbar>
        <button ion-button menuToggle right>
            <ion-icon name="menu">shay</ion-icon>
        </button>
        <ion-title>
            <div>
                <img src="images/logo1.png" style="width: 130px; margin-top: 4px;">
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content style="background-color: #f2f2f2">



 <!--   <ion-list class="Inputs">
        <ion-item padding>
            <ion-label class="labelHome">בחר סוג רכב</ion-label>
            <ion-select [(ngModel)]="Details.manufacturer" (ngModelChange)="CarTypeChange()">
                <ion-option *ngFor="let type of CarsTypesArray" value="{{type.id}}" >{{type.name}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list> -->

    <ion-slides style="height: auto; margin-top: 0px;">
        <ion-slide>
            <img src="http://www.tapper.co.il/salecar/slider/1.png"/>
        </ion-slide>
        <ion-slide>
            <img src="http://www.tapper.co.il/salecar/slider/2.png"/>
        </ion-slide>
        <ion-slide>
            <img src="http://www.tapper.co.il/salecar/slider/3.png"/>
        </ion-slide>
        <ion-slide>
            <img src="http://www.tapper.co.il/salecar/slider/4.png"/>
        </ion-slide>
        <ion-slide>
            <img src="http://www.tapper.co.il/salecar/slider/5.png"/>
        </ion-slide>
    </ion-slides>

 <!--   <div class="homeCatTitle" (click)="onGoToShopPage()">רכבי יוקרה</div>
    <ion-scroll class="customScroll" scrollX="true">
        <div text-center>
            <div class="homeProduct video-block" *ngFor="let car of CarsUpTo30 let i=index" (click)="openCarPage(i)" >
                <img *ngIf="car.images[0] != null" class="carImage" src="{{host}}/{{car.images[0].url}}" style="width:100%"/>
                <div>
                    <p class="Title">{{car.carName}}</p>
                    <p class="homeTitle">{{car.ComapnyName}} </p>
                    <p class="homeDescription">143 views </p>
                </div>
            </div>
        </div>
    </ion-scroll>

    <div class="homeCatTitle" (click)="onGoToShopPage()" style="margin-top:0px;" >רכבים עד 30,000 ש"ח</div>
    <ion-scroll class="customScroll" scrollX="true">
        <div text-center>
            <div class="homeProduct video-block" *ngFor="let car of CarsUpTo30 let i=index" (click)="openCarPage(i)">
                <img *ngIf="car.images[0] != null" class="carImage" src="{{host}}/{{car.images[0].url}}" style="width:100%"/>
                <div>
                    <p class="Title">{{car.carName}}</p>
                    <p class="homeTitle">{{car.ComapnyName}} </p>
                    <p class="homeDescription">143 views </p>
                </div>
            </div>
        </div>
    </ion-scroll> -->


    <div class="homeCatTitle" (click)="onGoToShopPage()" style="margin-top:0px;">מגרשי מכוניות</div>
    <ion-scroll class="customScroll" scrollX="true">
        <div text-center>
            <div class="homeProduct video-block" *ngFor="let company of Companies let i=index" (click)="goToSinglePage(i)">
                <img *ngIf="company.logo != null"  src="{{host}}/{{company.logo}}" style="width:100%; margin-top:-3px;"  />
                <img *ngIf="company.logo == null"  src="images/company.png" style="width:100%; margin-top:-3px;"  />
                <div>
                    <p class="Title">{{company.name}}</p>
                   <!-- <p class="homeTitle">{{company.ComapnyName}} </p> -->
                    <p class="homeDescription">143 views </p>
                </div>
            </div>
        </div>
    </ion-scroll>


   <!--<img src="images/main1.png" (click)="GoToCompaniesPage()" style="width: 100%"/>
    <img src="images/main2.png" style="width: 100%"/>
    <img src="images/main3.png" style="width: 100%"/> -->
   
</ion-content>

<ion-footer>
    <img src="images/contact.png" style="width: 100%" (click)="GoToLoginPage()"/>
</ion-footer>