page-shop {

}


.Product
{
  overflow: hidden;
  width: 100%;
}

.ProductLeft
{
  float: left;
  width: 12%;
  margin-top: 7px;
}

.ProductRight
{
  float: right;
  width: 20%;
}

.ProductCenter
{
  float: right;
  width: 45%;
  text-align: right;
  font-size: 22px;
  font-weight: bold;
  color: #00006f;
  margin-right: 10px;
}



.ProductCenter1 span
{
  font-size: 10px;
  font-weight:300;
}

.ProductCenter p
{
  font-size: 14px;
  font-weight:300;
  margin-top: 0px;
  direction: rtl;
}

.Line
{
  width: 100%;
  height: 1px;
  background-color: #00006f;
}
