
<ion-header>
    <header></header>
</ion-header>


<ion-content padding>
  <div>
      <div class="Product" *ngFor="let product of products let i = index" (click)="goToSinglePage(i)">
        <div class="ProductRight">
          <img src="{{ServerHost+product.image}}" class="w100"  />
        </div>

        <div class="ProductCenter">
            <span *ngIf="defaultLangage == 'he'">{{product.title}}</span>
            <span *ngIf="defaultLangage == 'en'">{{product.title_english}}</span>
              <p>{{product.low_price}}<span> {{'nistext' | translate}}  {{'forkgtext' | translate}}</span></p>
        </div>

        <div class="ProductLeft" >
          <img src="images/buy.png" class="w100"  />
        </div>
      </div>
    <div class="Line"></div>
  </div>
</ion-content>

<ion-footer class="FooterClass">
    <footer></footer>
</ion-footer>