._2a_0 ._1zgc{display:none}._1zgc{pointer-events:none}._2a_1{background-color:rgba(0, 0, 0, .5);pointer-events:auto}._2a_1 ._2a_2:not(:first-child){padding-top:24px}._2a_1 ._2la4{text-align:center}._2a_3{display:inline-block;height:40px;position:relative;vertical-align:middle}._2a_1 ._2a_e{color:#fff;display:inline-block;font-size:18px;font-weight:bold;height:40px;padding-right:12px;text-align:right;vertical-align:middle}._2a_e._2la5{max-width:70%}._2a_e._2la8{max-width:250px}._2a_5{background-color:rgba(0, 0, 0, .15);border:#ffffff 2px solid;border-radius:22px;height:36px;position:relative;width:36px}._2a_c{right:10px;position:absolute;top:10px}._2a_c._2la9{right:11px}._2a_c._2a_d{top:11px}._2a_c._2a_f{top:9px}._2laa{font-weight:100}
._63kv{color:#fff;display:inline-block;font-size:18px;font-weight:bold;height:40px;padding-right:12px;vertical-align:middle}
.sp_jrZKY6Hlh2C{background-image:url(/rsrc.php/v3/ym/r/S2MIOG_CNMZ.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_jrZKY6Hlh2C.sx_7b435a{background-position:0 0}.sp_jrZKY6Hlh2C.sx_26f112{background-position:0 -21px}

#bootloader_JB57O{height:42px;}.bootloader_JB57O{display:block!important;}