<ion-header>
  <header></header>
</ion-header>


<ion-content padding>
  <div class="Product" *ngFor="let item of SubCategoryArray let i=index" (click)="goToShopPage(i,item)">
    <img src="{{ServerHost+item.image}}" style="width:100%;">
  </div>
</ion-content>


<ion-footer class="FooterClass">
  <footer></footer>
</ion-footer>
