// http://ionicframework.com/docs/theming/

body
{
  background-color: #f1f2f2;
}


.Content
{
  background-color: #f2f2f2;
}


.toolbar-background {
  background-color: black;
}

.w100
{
  width: 100%;
}

.w80
{
  width: 80%;
}

.ToastClass{
  > div{
    background-color:#32db64!important;
  }

  text-align: center;
}

.alertClass
{
  text-align: right;
  inputs{
    text-align: right;
  }
}

.alert-input
{
  text-align: right;
}

.alert-title
{
  text-align:center;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.MT10 {  margin-top: 10px;  }
.MT20 {  margin-top: 20px;  }
.MT30 {  margin-top: 30px }
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
