page-car {


}

.singleName
{
  width: 100%;
  text-align: center;
  background-color: #b2d233;
  color: black;
  padding:3px;
  font-size: 20px;
  font-weight: 300;
}

.CarImages
{
  width: 100%;
  overflow: hidden;
  padding: 0px;
}

.CarImageDiv33
{
  width:33.3%;
  float:left;
}

.CarImageDiv50
{
  width:50%;
  float:left;
}

.CarImageDiv100
{
  width:100%;
  float:left;
}

.c3Title
{
  text-align:right;
  padding:5px;
  color:#4d4d4d;
  margin-top:10px;
  margin-right:5%;
  font-weight:600;
  font-family: 'Rubik', sans-serif;
  font-size:19px;
  direction: rtl;
}

.c3Line
{
  width:90%;
  height:1px;
  background-color:#b2d233;
  margin-top:3px;
}

.c3Line1
{
  width:95%;
  height:1px;
  background-color:#b2d233;
  margin-top:3px;
}

.c3Info
{
  width:90%;
  padding:8px;
  margin-top:10px;
  text-align:right;
  font-size:15px;
  direction:rtl
}
.Info
{
  margin-top: 20px;
}
.carInfo
{
  width: 100%;
  overflow: hidden;
  padding: 10px;
  padding-right:8%;
  margin-top: -10px;
  text-align: right;
  font-size: 16px;
}

.carInfoRight
{
  width: 50%;
  float: right;
}