<ion-header>
  <header></header>
</ion-header>


<ion-content  class="Content" style="margin-top: 0px">
  <div class="singleName">
    {{Car.carModelName}} &nbsp;{{Car.carName}}
  </div>

  <div class="CarImages">
    <div class="CarImageDiv" *ngFor="let image of CarImages let i = index" (click)="showPopup(i)" [ngClass]="{'CarImageDiv33' : (CarImages.length > 4), 'CarImageDiv50':(CarImages.length == 2 || CarImages.length == 3 || CarImages.length == 4), 'CarImageDiv100':(CarImages.length == 1)}">
      <img *ngIf="i<6" src="{{host}}/{{image.url}}" />
    </div>
  </div>

  <div class="c3Title">
    פרטי הרכב
  </div>
  <div style="width:100%" align="center">
    <div class="c3Line">
    </div>
  </div>
  <div class="Info">
    <div class="carInfo">
      <div class="carInfoRight">
        שנת ייצור :&nbsp;{{Car.year}}
      </div>
      <div class="carInfoRight">
        בעלים קודמים :&nbsp;{{Car.hand}}
      </div>
    </div>
    <div class="carInfo">
      <div class="carInfoRight">
        צבע הרכב :&nbsp;{{Car.color}}
      </div>
      <div class="carInfoRight">
        קילומטר :&nbsp;{{Car.km}}
      </div>
    </div>
    <div class="carInfo">
      <div class="carInfoRight">
        נפח מנוע :&nbsp;{{Car.size}}
      </div>

    </div>
  </div>


  <div align="center">
    <div class="c3Info">
      {{Car.description}}
    </div>
  </div>

</ion-content>


<ion-footer *ngIf="Car.price != 0 "  >
  <ion-toolbar>
    <ion-buttons  style="!important; text-align: center; padding: 0; margin: 0;"  >
      <button ion-button icon-right color="royal" style="direction: rtl; font-size: 17px; font-weight: bold;  color: white;" (click)="LogOut()">

        מחיר : {{Car.price|number}} ש"ח
      </button>



    </ion-buttons>
  </ion-toolbar>
