<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header></header>
</ion-header>



<ion-content padding>
  <ion-item no-lines class="RegTitle">
    <label>{{'forgotpasstext' | translate}}</label>
  </ion-item>

  <ion-list class="Inputs">

    <ion-item>
      <ion-label floating>{{'emailtext' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="Forgot.mail" name="mail" ></ion-input>
    </ion-item>



    <div style="width: 100%; margin-top: 2px;" align="center" (click)="sendPassword()">
      <div style="width: 90%">
        <button ion-button color="primary" style="width: 100%">{{'sendtext' | translate}}</button>
      </div>
    </div>



  </ion-list>
</ion-content>
<ion-footer class="FooterClass">
  <footer></footer>
</ion-footer>