<!-- <ion-header>
  <header></header>
</ion-header> -->

<ion-toolbar no-border-top class="ToolBarClass1">


  <ion-buttons left>
    <button navPop style="background-color: black">
      <ion-icon style="color: white; font-size: 30px;" name="ios-arrow-back-outline"></ion-icon>
    </button>
  </ion-buttons>

  <div class="ToolBarTitle">
    <ion-title>
      <div>
        <img src="images/logo1.png" style="width: 130px; margin-top: 4px;">
      </div>
    </ion-title>
  </div>

  <ion-buttons right>
    <button (click)="LogOut()" style="background-color: black">
      <ion-icon style="color: white; font-size: 40px; margin-right:20px;" name="ios-exit-outline"></ion-icon>
      <p style="color: white; font-size: 10px; margin-top: -7px;">התנתק</p>
    </button>
  </ion-buttons>
</ion-toolbar>



<ion-content class="Content" style="margin-top:75px;">


  <div class="Info">
    <div class="Logo" align="center">
      <div class="w80">
        <img *ngIf="Company.logo != null" src="{{host}}/{{Company.logo}}" style="width:100%; margin-top:-3px;"  />
        <img *ngIf="Company.logo == null" src="images/logos.png"/>
      </div>
    </div>
    <div class="Details">
      <p>{{Company.name}}</p>
      <h3>{{Company.address}}</h3>
      <h4>טלפון : {{Company.phone}}</h4>
    </div>
    <div class="plus" (click)="AddCar()">
      <div class="w80">
        <img  src="images/plus.png" style="width:100%" />
        <p>הוסף רכב</p>
      </div>
    </div>
  </div>
  <div style="width:100%" align="center">
    <div class="c3Line">
    </div>
  </div>
  <!-- Cars -->
  <div>
    <div *ngFor="let car of Cars let i = index"  >
      <div class="ListRow" (click)="EditCar(i)">
        <div class="ListRight" *ngIf="car.images.length > 0">
          <img  src="{{host}}{{car.images[0].url}}" style="width:100%; margin-top:-3px;"  />
        </div>
          <div class="ListRight" *ngIf="car.images.length == 0">
              <img  src="{{host}}{{Company.logo}}" style="width:100%; margin-top:-3px;"  />
          </div>
        <div class="ListCenter"  >
          <p class="bName">{{car.carName}}</p>
          <h3> {{car.carModelName}}</h3>
          <h4 style="direction: rtl">שנה : {{car.year}} </h4>
        </div>

        <div class="ListLeft">
          <div>
            <img  src="images/arrow.png" style="width:20px;" />
          </div>
        </div>
      </div>

      <div>
        <img  src="images/line.png" style="width:100%; margin-top:-3px;" />
      </div>
    </div>
  </div>
</ion-content>
<ion-footer >
  <ion-toolbar>
    <ion-buttons  style="!important; text-align: center; padding: 0; margin: 0;"  >
      <button ion-button icon-right color="royal" style=" font-size: 17px; font-weight: bold;  color: white;" (click)="openPopUp()">
      SMS
      </button>
      <button ion-button icon-right color="royal" style=" font-size: 22px; font-weight: bold;  color: white;">
        |
      </button>
      <button ion-button icon-right color="royal" style=" font-size: 17px; font-weight: bold;  color: white;" (click)="whatsApp()">
       Whatsapp
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>