page-company-admin {
  .singleName {
    width: 100%;
    text-align: center;
    background-color: #b2d233;
    color: black;
    padding: 3px;
    font-size: 20px;
    font-weight: 300px;
  }

  .Info {
    width: 100%;
    overflow: hidden;
    padding: 5px;
  }

  .Logo {
    width: 25%;
    float: right;
    margin-top: 4px;
  }

  .Logo div {

  }

  .plus {
    width: 20%;
    margin-top: 6px;
    float: left;
  }

  .plus p
  {
    font-size: 12px;
    margin-top: -4px;
    text-align: center;
    margin-left: 5px;
  }

  .Details
  {
    float: right;
    width: 50%;
    text-align: right;
    font-weight: bold;
    font-size:18px;
    margin-top: -10px;
  }

  .Details h3
  {
    text-align: right;
    font-size:14px;
    margin-top: -17px;
  }

  .Details h4
  {
    text-align: right;
    font-size:14px;
    margin-top: -6px;
  }

  .ListRow
  {
    overflow:hidden;
    width:100%;
  }

  .bName
  {
    font-size:17px;
    color:#4d4d4d;
    font-weight:bold;
  }


  .ListRight
  {
    width:25%;
    padding:10px;
    float:right;
  }

  .ListRight img
  {

  }

  .c3Line
  {
    width:90%;
    height:1px;
    background-color:#b2d233;
    margin-top:3px;
  }

  .ListLeft
  {
    width:22%;
    padding-left:15px;
    float:left;
    margin-top:25px;
  }

  .ListCenter
  {
    width:50%;
    text-align:right;
    direction:rtl;
    padding:5px;
    float:right;
    margin-top: -13px;
  }

  .ListCenter h3
  {
    font-size:16px;
    color:#4d4d4d;
    margin-top: -15px;
  }

  .ListCenter h4
  {
    margin-top:-8px;
    font-size:14px;
    color:#4d4d4d;
  }

  .ListCenter div
  {
    margin-top:-8px;
  }


}
